# What are we doing here?
<b>Files Source:</b> https://www.ncwildlife.org/Hunting/Seasons-Limits/Harvest-Statistics#120631961-by-weapon-type
<br><b>Install Java:</b> https://sdkman.io/install   --- 
<br>Go to SDKs and go to the bottom. Get the Zulu SDK. It will take you to their website. Get this one in the image.
<br><img src="zulu.png" width="400">

<!-- markdown change image size -->


1. Writing script to change all file names to just the year and BearHarvest "2015_BearHarvest"
2. Parsing the tables in both types of PDFs into a dataframe
3. Draw analysis on these datasets
4. Chart lines to spot trends with each weapon and see which stands out

In [2]:
# !pip install tabula-py pandas

In [3]:
import os
import pandas as pd
import tabula.io

# change imagine size in markdown ![image.png](attachment:image.png)
# change imagine size in markdown <img src="attachment:image.png" width="400">

In [4]:
def rename_files(currentFile):
    # Reconstruct the filename with the underscore and corrected text
    fileYear = currentFile[0:4]
    # Create the full old and new file paths
    newFileName = fileYear + "_BearHuntingStats.pdf"
    # Rename the file
    print("Renaming " + currentFile + " to " + newFileName)
    os.rename(currentFile, newFileName)

In [5]:
pdfs = [x for x in sorted(os.listdir()) if '.pdf' in x.lower()]
pdfs

['2015_BearHuntingStats.pdf',
 '2016_BearHuntingStats.pdf',
 '2017_BearHuntingStats.pdf',
 '2018_BearHuntingStats.pdf',
 '2020_BearHuntingStats.pdf',
 '2021_BearHuntingStats.pdf',
 '2022_BearHuntingStats.pdf']

In [6]:
# apply the function to the list of file names in the directory
list(map(rename_files, pdfs))

Renaming 2015_BearHuntingStats.pdf to 2015_BearHuntingStats.pdf
Renaming 2016_BearHuntingStats.pdf to 2016_BearHuntingStats.pdf
Renaming 2017_BearHuntingStats.pdf to 2017_BearHuntingStats.pdf
Renaming 2018_BearHuntingStats.pdf to 2018_BearHuntingStats.pdf
Renaming 2020_BearHuntingStats.pdf to 2020_BearHuntingStats.pdf
Renaming 2021_BearHuntingStats.pdf to 2021_BearHuntingStats.pdf
Renaming 2022_BearHuntingStats.pdf to 2022_BearHuntingStats.pdf

[None, None, None, None, None, None, None]

In [7]:
newPdfs = [x for x in sorted(os.listdir()) if '.pdf' in x.lower()]
newPdfs

['2015_BearHuntingStats.pdf',
 '2016_BearHuntingStats.pdf',
 '2017_BearHuntingStats.pdf',
 '2018_BearHuntingStats.pdf',
 '2020_BearHuntingStats.pdf',
 '2021_BearHuntingStats.pdf',
 '2022_BearHuntingStats.pdf']

In [19]:
# read in the first pdf of the pdfs list as a dataframe
df = tabula.io.read_pdf(newPdfs[0], pages='all')
# having issues when this read happens. the column names are being compressed into just 1 column


dfs = []
for pdf in newPdfs:
    dfs.append(pd.concat(tabula.io.read_pdf(pdf, pages='all'), axis=0))

concdf = pd.concat(dfs, axis=0)

In [20]:
concdf

,CountyBow & ArrowCrossbowGunMuzzleloaderUnknownTotal,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,CountyBow & ArrowCrossbowGunMuzzleloaderTotal,CountyBow & ArrowCrossbow,Gun,Black powderTotal
0,Alamance,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN
1,Alexander,0,0,1,0,0,1.0,NaN,NaN,NaN,NaN
2,Alleghany,1,1,3,3,0,8.0,NaN,NaN,NaN,NaN
3,Anson,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN
4,Ashe,6,0,13,10,0,29.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
31,NaN,Wilson,0,4.0,NaN,NaN,NaN,NaN,1,0,3
32,NaN,Yadkin,0,0.0,NaN,NaN,NaN,NaN,0,0,0
0,NaN,Yancey,0,87.0,NaN,NaN,NaN,NaN,4,2,81
1,NaN,Total127483815664056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2%,NaN,NaN,NaN,NaN,NaN,3%,1%,94%